<p>
  <a href="/system/ikt_judge.pdf">
    Інструкція роботи з системою оцінювання олімпіади з інформаційних технологій (оновлено 07.02.2025) (автор - Наталія Підлужняк)
  </a>
</p>

<% contest.tasks.each do |task| %>
  <p>
    Задача <%= link_to task.display_name, scoring_url(task) %>
  </p>
<% end %>
