<h3>Статистика олімпіади</h3>
<% if contest.statistic_open? %>
  <table style="width: 100%;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Прізвище, Ім'я, По батькові</th>
        <% contest.tasks.order(:id).each do |task| %>
          <th><%= task.display_name %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render collection %>
    </tbody>
  </table>
<% else %>
  <p class="error">Перегляд статистики заборонено</p>
<% end %>
