<h3 class="for-form">Реєстрація учасника</h3>

<% if policy(resource).create? %>
  <% if resource.errors.any? %>
    <%= render 'errors' %>
  <% else %>
    <%= render 'form' %>
  <% end %>
<% else %>
  <p class="error">Реєстрація заборонена. Повідомте технічного працівника.</p>
<% end %>
