<footer>
  <p>
    <b>Успіхів у розв'язуванні завдань!</b><br />
  </p>
  <div class="footer-text">
    <address>
      <i>&copy; Kostiantyn Kostiuk 2015-<%= Time.zone.now.year %>, &copy; Amnis Invictus 2021-<%= Time.zone.now.year %></i>
      <h6 style="margin: 5px;">kostyanf14{@}codelabs.site</h6>
    </address>
  </div>
</footer>
