<footer>
  <p>
    <b>Успіхів у розв'язуванні завдань!</b><br />
  </p>
  <div class="footer-text">
    <address>
      <i>&copy; Вінницький технічний ліцей 2015-<%= Time.zone.now.year %></i>
      <h6 style="margin: 5px;">kostyanf14{@}vtlin.onmicrosoft.com</h6>
    </address>
  </div>
</footer>
