<header class="header">
  <div class="header__logo">
    <%= link_to :root do %>
      <%= image_tag 'logo.png' %>
    <% end %>
  </div>
  <div class="header__main">
    <%= link_to :root do %>
      <%= image_tag 'header.png' %>
    <% end %>
  </div>
</header>
