<p class="nav-title">Журі</p>
<ul class="nav">
  <li><%= link_to 'Файли для журі', [contest, :judge] %></li>
  <li><%= link_to 'Система оцінювання', [contest, :scoring] %></li>
  <li><%= link_to 'Вихід', [contest, :judge], method: :delete %></li>
</ul>
