<% return if sidebar_hidden? %>

<div id="sidebar">
  <%= render 'widgets/sidebar_items' %>
  <%= render 'widgets/judge_sidebar_items' if judge? %>
  <%= render 'widgets/orgcom_sidebar_items' if orgcom? %>
  <div id="time">--:--:--</div>
</div>
