<% return if sidebar_hidden? %>

<div id="sidebar">
  <ul class="nav">
    <%= render judge? ? 'widgets/judge_sidebar_items' : 'widgets/sidebar_items' %>
  </ul>
  <div id="time">--:--:--</div>
</div>
