[Unit]
  Description = Stage IKT Application
  After = network.service

[Service]
  User = arch-user
  Group = arch-user
  WorkingDirectory = /opt/ai/stage-ikt.codelabs.site/current
  Environment = 'RAILS_ENV=staging'
  Environment = 'SOCKET=unix:///opt/ai/stage-ikt.codelabs.site/current/tmp/sockets/server.sock'
  Environment = 'PIDFILE=/opt/ai/stage-ikt.codelabs.site/current/tmp/pids/server.pid'
  Environment = 'PATH=/home/arch-user/.rbenv/shims:/usr/local/sbin:/usr/local/bin:/usr/bin'
  ExecStart = /usr/bin/env bundle exec puma --config /opt/ai/stage-ikt.codelabs.site/current/config/puma.rb
  Restart = always

[Install]
  WantedBy = multi-user.target
