@import "./application/*";

* {
  padding: 0px;
  margin: 0px;
}

body {
  font: 16px/1.5 Comfortaa, Arial;
  background-color: #42413c;
  color: #000;
}

#container {
  width: 1080px;
  background-color: #42413c;
  margin: 0 auto;
}

header {
  background-color: #adb96e;
}

#sidebar {
  float: left;
  width: 140px;
  background-color: rgb(234, 220, 174);
}

.mono {
  font-family: Consolas, monospace;
}

#time {
  margin-top: 15px;
  font-family: "Arciform Sans", Consolas, monospace;
  font-size: 1.75em;
  text-align: center;
  color: rgb(0, 0, 144);
}

#contents {
  width: 940px;
  float: left;
  background: #fff;
  min-height: 317px;
}

.content {
  padding: 10px;
  box-sizing: border-box;
  width: 940px;
}

footer {
  padding: 10px 10px 20px;
  background-color: #ccc49f;
  position: relative;
  clear: both;
}

.mb-2 {
  margin-bottom: 1rem;
}
