<h3 class="for-form">Відправка розв'язків</h3>

<% if resource.errors[:user].any? %>
  <div class="error mb-2">
    Технічна помилка! Ви ввели помилковий код =(
  </div>
<% end %>

<%= form_with model: resource, url: [contest, :upload], class: 'default-form' do |f| %>
  <div class="field">
    <%= f.password_field :secret, required: true, placeholder: 'Код доступу' %>
  </div>
  <div class="field" align="right">
    <%= f.submit 'Підтвердити', class: 'btn' %>
  </div>
<% end %>
