<% if resource.errors[:user].any? %>
  <div class="error mb-2">
    Технічна помилка! Ви ввели помилковий код =(
  </div>
<% end %>

<ul class="messages-list">
  <% resource.messages.each do |message| %>
    <%= tag.li message[:text], class: message[:type] %>
  <% end %>
</ul>
