<h3 class="for-form">Відправка розв'язків</h3>

<ul class="messages-list">
  <% resource.errors.full_messages.each do |message| %>
    <li class="error"><%= message %></li>
  <% end %>
</ul>

<ul class="messages-list">
  <% resource.messages.each do |message| %>
    <%= tag.li message[:text], class: message[:type] %>
  <% end %>
</ul>
