<h3>Редагування учасників</h3>
<table style="width: 100%;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Прізвище, Ім'я, По батькові</th>
      <th>Місто (село)</th>
      <th>Навчальний заклад</th>
      <th>Клас</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render collection %>
  </tbody>
</table>
